
<!DOCTYPE html>
<html lang='en'>
    <head>
      <meta charset='UTF-8'/>
      <meta name='viewport' content="width=device-width, initial-scale=1">
      <meta name='description' content="{% block description %}{% endblock %}">
      <meta name='keywords' content="{% block keywords %}{% endblock %}">
      <title>{% block title %}{% endblock %}</title>
      {% block headcss %}{% endblock %}
      {% block headjs %}{% endblock %}
      {% block metatags %}{% endblock %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/style.css">
      <style>
        /* include some basic styles here to make error pages look better */
        code, pre { color:#444; }
        h1.nav { padding:20px 0px 0px 0px; font-size:1.6em; }
        a, a:hover { text-decoration:none; }
div.intro {
  border-left:1px solid rgb(222, 226, 230);
  border-right:1px solid rgb(222, 226, 230);
  padding:15px;
  padding-top:32px;
  color:#333
}
      </style>
    </head>
    <body>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
        <div class="container">
          <div class="row  align-items-center">
            <div class="col">
              <h1 class="nav"><tt><a href="/">PostGIS Baselayers</a></tt></h1>
            </div>
          </div>
          <div class="text-center"  style="color:#ccc;background-color:#f5f5f5;padding:5px;border:1px solid rgb(222, 226, 230);margin:15px 0px 15px 0px;border-radius:5px;">
              {% if g.conn %}
                {% set dsn = g.conn.info.dsn_parameters %}
                <i class="fas fa-database"></i><code> Connected to {{ dsn.user }}@{{dsn.host}}:{{dsn.port}}/{{dsn.dbname}}

                  {% if g.postgis_version %}
                    (PostGIS {{g.postgis_version}})
                  {% endif %}
                </code>
              {% else %}
                <i class="fas fa-database"></i><code> Could not connect to database!</code>
              {% endif %}
            </div>
          {% set active_page = active_page|default('index') -%}
          {% if not no_menu %}
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a style="{% if layers_working or layers_waiting %}background-color:#ffffd4;border-bottom-color:#ffffd4;{% endif %}" class="nav-link {% if active_page == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Datasets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'logs' %}active{% endif %}" href="{{ url_for('logs') }}">Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'settings' %}active{% endif %}" href="{{ url_for('settings') }}">Settings</a>
            </li>
          </ul>
          {% endif %}

          {% if layers_working or layers_waiting %}
            <div class="notice">
                <strong>There is work in progress, please be patient.</strong> PostGIS Baselayers is currently
                {% if layers_working %}
                   working on {{ layers_working | length }} task{% if layers_working | length > 1%}s{% endif %}{% if not layers_waiting %}.{% else %}
                    with another {{ layers_waiting | length }} task{% if layers_waiting | length > 1%}s{% endif %} in queue. 
                  {% endif %}
                 {% else %}
                    preparing {{ layers_waiting | length }} queued task{% if layers_waiting | length > 1%}s{% endif %}. 
                 {% endif %}
                 You can <a href="javascript:location.reload();">reload this page</a> to update the status.
            </div>
          {% endif %}
          {% block content %}{% endblock %}

        </div>
        <div class="container container-fluid text-center" style="padding:15px;">
          <small>PostGIS Baselayers - <a href="https://github.com/kokoalberti/postgis-baselayers">https://github.com/kokoalberti/postgis-baselayers</a></small>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block footjs %}{% endblock %}
    </body>
</html>
