{% extends "base.html" %}
{% set active_page = "settings" %}
{% block content %}
<div class="intro" style="border-bottom:1px solid rgb(222, 226, 230);">
    <hr/>
    <h2>Uninstall Datasets</h2>
    <p>
        Select dataset to uninstall:
    </p>
    <form action="{{ url_for('install') }}" method="POST">
        <table class="table table-bordered">
        {% for layer in layers %}
            <tr><td><tt>{{layer.key}}</tt></td><td class="text-right"><input style="margin-left:7px;vertical-align:middle;top:-1px;position:relative;" type="checkbox" name="{{layer.key}}" value="uninstall" /></td></tr>
        {% endfor %}
        </table>
        <p class="text-right">
        <input class="btn btn-primary" type="submit" value="Uninstall Selected Datasets">
        </p>
    </form>
    <hr>
    <h2>Version Information</h2>
    <p><tt>
        PostGIS Baselayers v{{pg_baselayers_version}}.
    </tt></p>
    {% set dsn = g.conn.info.dsn_parameters %}
    <p><tt>
        Connected to {{ dsn.user }}@{{dsn.host}}:{{dsn.port}}/{{dsn.dbname}}.
    </tt></p>
    <p><tt>
        PostgreSQL version: {{version_info['postgresql_version']}}
    </tt></p>
    <p><tt>
        PostGIS version: {{version_info['postgis_version']}}
    </tt></p>

</div>

{% endblock %}

{% block footjs %}
{% endblock %}